<h2>
    <p>
        Welcome to a simple app for aiding the learning of last layer algorithms using the CFOP method.
        <br>
        <br>
        Please navigate to the algorithm subsets using the navbar at the top and return to the home page

        <br>
        by clicking on the Rubik's cube in the top left.
    </p>
</h2>

<button (click)="openModal('cube_1');">
    <img src='../../../assets/cube.png' alt='cube'>
</button>

<jw-modal id="cube_1">
    <img src='../../../assets/cube.png' alt='cube'>
    <button (click)="closeModal('cube_1');">Close</button>
</jw-modal>