<h2>
    <p>
        Welcome to a simple app for aiding the learning of last layer algorithms using the CFOP method.
        <br>
        <br>
        Please navigate to the algorithm subsets using the navbar at the top and return to the home page

        <br>
        by clicking on the Rubik's cube in the top left.
    </p>
</h2>

<div>
    <table>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
        <tr>
            <td>Value 1</td>
            <td>Value 2</td>
            <td>Value 3</td>
        </tr>
        <tr>
            <td>Value 6</td>
            <td>Value 7</td>
            <td>Value 8</td>
        </tr>
    </table>
</div>