<h2>
    <p>
        Welcome to a simple app for aiding the learning of last layer algorithms using the CFOP method.
        <br>
        <br>
        Please navigate to the algorithm subsets using the navbar at the top and return to the home page

        <br>
        by clicking on the Rubik's cube in the top left.
    </p>
</h2>

<button (click)="openModal('cube_1');">
    <img src='../../../assets/cube.png' alt='cube'>
</button>

<alg-modal id="cube_1">
    <img src='../../../assets/cube.png' alt='cube'>
    <button class="closeButton" (click)="closeModal('cube_1');">&times;</button>
</alg-modal>

<br> <br>
<button (click)="generateScramble();">Get Scramble</button>
<h1>{{ scramble }}</h1>

<br> <br>
<button (click)="startCountdown();">Start Timer</button>
<h1 *ngIf="timerDisp >= 8" style="color: rgb(180, 180, 180);">{{ timerDisp }}</h1>
<h1 *ngIf="timerDisp <= 7" style="color: rgb(180, 0, 0);">{{ timerDisp }}</h1>