h2 {
    color: rgb(180, 180, 180);
    /* padding: 5%; */
    align-content: center;
}

p {
    text-align: left;
}

table {
    border: rgb(180, 180, 180) solid 2px;
    border-collapse: collapse;
    width: 120%;
    align-self: center;
}
tr, td {
    border: 2px solid rgb(180, 180, 180);
    width: fit-content;
    padding-left: 15px;
    text-align: left;
}

th {
    border: 2px solid rgb(180, 180, 180);
    width: fit-content;
    text-align: center;
    font-weight: bold;
}

