app-top-bar {
    width: 100%;
    height: 68px;
    display: flex;
    padding: 16px;
    flex-direction: row;
    background-color: rgb(100, 100, 100);
    justify-content: space-evenly;
    align-items: center;
}

app-top-bar h1 {
    color: rgb(180, 180, 180);
}

/* Button */
.button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }
  
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }
    
  .fancy-button {
    background-color: rgb(210, 210, 210);
    color: rgb(100, 100, 100);;
  }
  
  .fancy-button i.material-icons {
    color: rgb(100, 100, 100);;
    padding-right: 4px;
  }

    /* Hyperlink */
  
    a {
        cursor: pointer;
        color: rgb(100, 100, 100);;
        text-decoration: none;
      }
      
      a:hover {
        opacity: 0.8;
      }
        
      input {
        font-size: 14px;
        border-radius: 2px;
        padding: 8px;
        margin-bottom: 16px;
        border: 1px solid #BDBDBD;
      }