@import '../_modal/modal.component.css';

a {
    color: rgb(180, 180, 180);
    font-weight: normal;
}

:host(app-pll-algs) {
    width: 100%;
    padding: 16px;
}

/* TABLE STYLING */

table {
    border: rgb(180, 180, 180) solid 5px;
    border-collapse: collapse;
    width: fit-content;
    padding: 15%;
    align-self: center;
}

table.center{
    margin-left: auto;
    margin-right: auto;
}


tr, td {
    border: 5px solid rgb(180, 180, 180);
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

td:hover {
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

td.cases {
    padding: 5px;
    text-align: center;
}

td:link {
    cursor: pointer;
}

th {
    border: 5px solid rgb(180, 180, 180);
    width: fit-content;
    padding: 10px;
    text-align: center;
    font-size: 16;
}

.algZoom {
    max-width: 25%;
    height: auto;
}