<h2>PLL Algorithm List</h2>
<div>
  <ng-container *ngFor="let pllAlg of pllAlgs; index as name">
    <div class="alg-modal-hide">
      <span class="close">&times;</span>
      <img class="alg-modal-body">
      <div id="caption"></div>
    </div>
  </ng-container>
  <table class="center">
    <!-- create table header -->
    <tr>
      <th>Name</th>
      <th>Algorithm</th>
      <th>Case</th>
    </tr>
    <!-- loop through pll algs -->
    <ng-container *ngFor="let pllAlg of pllAlgs; index as name">
    
    <tr>
      <td [routerLink]="['/pllAlgs', pllAlg.name]">{{ pllAlg.name }}</td>
      <td [routerLink]="['/pllAlgs', pllAlg.name]">{{ pllAlg.algorithm }}</td>
      <td class="cases">
        <button style="background-color: rgb(50, 50, 50);" (click)="openModal(pllAlg.name);">
          <img src="../../../assets/pll-images/{{pllAlg.name}}-Perm.png" alt="{{pllAlg.name}}" width="100px" height="100px">
      </button>
      </td>
      <alg-modal id="{{pllAlg.name}}">
        <img class="algZoom" src="../../../assets/pll-images/{{pllAlg.name}}-Perm.png" alt="{{pllAlg.name}}">
        <div id="caption">
          {{ pllAlg.algorithm }}<br><br>
          {{ pllAlg.name }} - Perm
        </div>
        <button class="closeButton" (click)="closeModal(pllAlg.name);">&times;</button>
    </alg-modal>
    </tr>
  
    </ng-container>
  </table>
</div>