alg-modal {display: none;}

.alg-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1000;
    
    overflow: auto;
}

.alg-modal-body {
    padding: 20px;
    text-align: center;
    background: rgb(80, 80, 80);
    margin: 40px;
}
    

.alg-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #000;
    opacity: 0.75;
    
    z-index: 900;
}


.closeButton {
    background: rgb(120, 120 ,120);
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 20px;
}

body.alg-modal-open {overflow: hidden;}