:host(app-scramble) {
    width: 100%;
    padding: 0%;
}

.top-layer-button {
    display: inline-block;
    width: 100%;
    height: 60px;
    background-color: rgb(54, 54, 54);
    cursor: pointer;
    color: rgb(180, 180, 180);
    font-size: x-large;
    text-align: center;
}

.top-layer-button:hover {
    background-color: rgb(44, 44, 44);
}

.bottom-layer-button {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: rgb(54, 54, 54);
    cursor: pointer;
    color: rgb(180, 180, 180);
    font-size: x-large;
}

.bottom-layer-button:hover {
    background-color: rgb(44, 44, 44);
}